-----BEGIN CERTIFICATE-----
MIIGEzCCA/ugAwIBAgIUa7unb8GRDLqqglwCSKP8gxgjKn4wDQYJKoZIhvcNAQEL
BQAwgZgxCzAJBgNVBAYTAkJSMRMwEQYDVQQIDApQZXJuYW1idWNvMSEwHwYDVQQH
DBhKYWJvYXTDhm8gZG9zIGd1YXJhcmFwZXMxDDAKBgNVBAoMA0NJTjEMMAoGA1UE
CwwDQ0lOMRQwEgYDVQQDDAtBbGV4c2FuZHJvajEfMB0GCSqGSIb3DQEJARYQYWpz
NkBjaW4udWZwZS5icjAeFw0yNjA1MDIxNTI0MzdaFw0yNzA1MDIxNTI0MzdaMIGY
MQswCQYDVQQGEwJCUjETMBEGA1UECAwKUGVybmFtYnVjbzEhMB8GA1UEBwwYSmFi
b2F0w4ZvIGRvcyBndWFyYXJhcGVzMQwwCgYDVQQKDANDSU4xDDAKBgNVBAsMA0NJ
TjEUMBIGA1UEAwwLQWxleHNhbmRyb2oxHzAdBgkqhkiG9w0BCQEWEGFqczZAY2lu
LnVmcGUuYnIwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQChAKT74zc/
8B+hPw5v7yVP+wtmLeNkJYXJ7tlcdl+CQ4Fr6vvwi5kf0TjihEwL7ysLo8bb/Rmf
mXUd7DO3KSaAPDz2SF2tN0UGfBhbxkdUC2jczg21810/xxoAfepsuBgyx++A/UfG
sWVnWJ/tKfd0/4Z0NNMMl6aEwVNbsYRsmHPDiNw4W+QwxcKujOmedRC6OYrf/n2/
7uTlCOSgb5xmuI/nsyVlBcvIx5E2APWdqVejnvjpts8kSCnsv7WCkRfH1+l6fQ1q
R8ebDNke18Td4A3ZuYZJkFQxtkVwxVod+0g0DC9tPYyAwVRAg4GnC/N44B/in/ZQ
oL52yaalE2CanXIbF/fyNZHcQ7p2FaCKkVnKAYlb0/MyW3K6XffbN0e/CbJDIqUQ
RDl42InLeLDuccfh92gWUlymX7rVGMeW+cPkGxdXCXakC1NqGa88sbX8pn01Qebp
FgMf2vAzPzSfw1ShiLNLXQumum9KVo82gjglXEw9WVSGhSTQvOeGSAyQtqkE//UF
FisWB9H+k1dW4Lz7BbXi3I14E8ARsPkr9K3GMbu+WfRzP0SY3xQbvXSJk38/YAiW
Hs5GaZJ2jDhgTy7AVoWDctqUruJ1UZtV+Wr66MrO5NjfV5EmAWH6SHpXoUq9kzny
7wUsuO9YI/ieROZoYN20zXMf9v7Rrdu+ZwIDAQABo1MwUTAdBgNVHQ4EFgQUOEZ8
JQuokscdvBA8p/HlvZ9EhikwHwYDVR0jBBgwFoAUOEZ8JQuokscdvBA8p/HlvZ9E
hikwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAgEAP/QO8BtfaQU3
Twz+yJxis9sw//9cSJmMlU9yBqCq16OA3AD8x66qAgwrDUz2Zgnnq37uGaI8aaNb
N2n8QoNJcNOlBpS88D0zDMYY0WIVKqE9NN6pHrPN2iwAp679Xq9v4rHwS2fAexoY
2oYzXYpa2jzG4uNH17mph6/JqUxr7C4Bv7UDC1H1bEccbyhM7rZd4My9Siw+sCyt
veRPLENzD+P7e9fd2Oj+cpi3TF9LnzjGEk3zKNqhaCtx2udIJswOzvVMWI9O+WXn
25quJauGtqjTbE+OOspRmtykViQf1haW2QzNa+b4VJVoWm9ZTSYONfiZO5bwrMXV
2PT7pgutlCZO00GBjVm/ptsRhlyxwIW/4A6Lr8AqVWvHxhZs260iztOxrnHwblUm
V5NdTwhhYNYszmprMVimSosou1Ns30OhhEN32kRNUR5/p4rBZypss1Tdpf1qTzEM
VPSIfqU/Rdi6ZHDvxriuZgNgNX4YpLFvxozTVqPZZ+b+iL3Pyxc8voAfwMnkmdDS
mCS0HZdNAQfLa+Zg1KA+vxG++1MS3STXYpCWgifJyP6csXoxRoav3Lp/t7m2pQuQ
2unQkGHjglvac5zTe9/D2TwxItMZ74AtBsR1+Vs1z8f687WNq5AG9ibwutXifGdG
m70xmJjA7GKxQFgQFNCx8nGbLqVM/8w=
-----END CERTIFICATE-----
